/**Reset browser */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #000;
}

.header{
    max-width: 1140px;
    color: white;
    margin:auto;
    display: flex;
    height: 100px;
    align-items: center;
}

.logo{
    width: 100px;

}

.logoimg{
    width: 80px;
    height: 80px;
    background: #B28756;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}



/** Style UL */

.menu ul, 
.menu li{
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #B28756;
    color:#ccc;
}

/**Content-1 */

.content-1 img{
    width: 100vw;
    height: 750px;
}

.button{
    padding: 10px 30px;
    background-color: #B28756;
    margin-top:32px;
    border-radius:20px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    display: -inlie-block;
}


/** content sliders */

.banner{
    height: calc(100vh - 100px);
    background-image: url('../images/bg.jpg');
    background-position:bottom;
    
    background-size: cover; /** ajustando para a imagem ocupar todo o espaço */
    
    background-color: #333; /** caso a imagem não carregar aparecerá esse fundo*/

    overflow: hidden;

}

.banner .sliders{
    width:400vw;
    height: 100%;
}

.banner .slide{
    width:100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}

/** content for slide */

.banner .slidearea{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    
}

.banner h1{
    font-size: 50px;
    font-weight: bold;
}

.banner h1 span{
    color: #B28756;
}

.banner h2{
    margin-top: 20px;
}



/** Pointers */

.banner .sliders-pointers{
    width: 100vw;
    height:20px ;
    margin-top: -50px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width:15px;
    height: 15px;
    border:2px solid #B28756;
    border-radius:10px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}

/** There can be no space between .pointer.active  */
.banner .pointer.active{
    background-color: #B28756;
}

/**Criando um padrão para representar os dois tipos de layout de sections, aqui já estamos definindo os atritubos de alinhamento do titulo, descrição e conteúdo e também criando dois tipos de classes diferentes para representar o mesmo layout com a diferença de cores predominantes
dark(fundo preto e letras brancas
light(fundo branco e letras pretas) */

/** Setting a standard for two different types of layout */

.default{
    
    padding-top:50px;
    padding-bottom:50px;
    

}

.default .section-title,
.default .section-desc{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    margin-top: 10px;
    font-size:15px;
    color: #ccc;
    margin-bottom: 40px;
}

.default .section-body{
    margin: auto;
    max-width: 1140px;
}

/** Layout Light*/

.default.light{
    background-color: #F7F7F7;
}

.default.light  .section-title,
.default.light .section-body{
    color:#000;
}

/** Layout Dark*/

.default.dark{
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
     color: #FFF;
}










/** CSS specific areas   */


/** Content About Us */

.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--left p{
    line-height: 25px;
}

.section-aboutus--right{
    width:520px;
    text-align: center;
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}


/** Content Services */

.section-services{
    display: flex;
    
    
}

.section-service{
    flex:1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;
    
}

.section-service:last-child{
    border-right: 1px solid #333;
}

.section-service h4{
    text-transform: uppercase;
    margin-top: 30px;
    font-weight:bold;
    font-size: 18px;
}

.section-service p{
    margin-top:13px;
    line-height: 20px;
    color: #999;
    
}


/** Area Projects */

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--filters{
    display: inline-block;
    background-color: #EEE;
    border-radius:30px;
    padding: 0px 20px;
    border:1px solid #CCC;
    
}

.section--filters ul,
.section--filters li{
    list-style: none;
      
}

.section--filters li{
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid #CCC;
    font-size: 13px;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
    
}

.section--filters li:hover,
.section--filters li.active{
    border-bottom: 3px solid #B28756;
}



.section--filters li:last-child{
    border-right:0;
}


.section-projects--photos{
    width:100vw;
    max-width:1140px;
    margin-top:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin:10px;
    width:260px;
    height:160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-projects--photoinfo h5{

    font-size: 18px;
    font-weight: 600;
}


.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

/** Our Team */

.bg-team{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position:center;
    padding: 0;
    
}

.section-team-area{
    background-color: rgba(0,0,0,0.8); 
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.section-team{
    overflow:hidden ;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders{
    width:1000vw;
    height:100%;
}

.section-team .slide{
    width:280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right:20px;
}

/** content for slide */

.section-team .slidearea{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #000;
    padding: 25px;
}


.section-team-area .sliders-pointers{
    margin-top: 30px;
    height:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer{
    width:15px;
    height: 15px;
    border:2px solid #B28756;
    border-radius:10px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}

/** There can be no space between .pointer.active  */
.section-team-area .pointer.active{
    background-color: #B28756;
}


/** Avatar */

.section-team-avatar{
    width:150px;
}

.section-team-name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.section-team-role{
    color: #999;
    margin-top: 5px;
    font-size: 14px;
}

.section-team-social{
    display: flex;
    margin-top: 20px;
}

.section-team-social a{
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team-social a:hover{
    background-color: #B28756;
}